* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 700px;
  border: 2px double darkcyan;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: flex-start;
}
.container div {
  margin: 0 2px;
  width: 200px;
  height: 100px;
  border: 2px dashed black;
  /* background-color: darkmagenta; */
  /* display: inline-block; */
}

.container div:first-child {
  background-color: aqua;
}

.container div:nth-child(2) {
  background-color: black;
}

.container div:nth-child(3) {
  background-color: azure;
}

.container div:nth-child(4) {
  background-color: violet;
}

.container div:nth-child(5) {
  background-color: crimson;
}

.container div:last-child {
  background-color: royalblue;
}
