/* background image 변경

    0 ~ 320px : bg3.jpg
    321 ~ 768px : bg2.jpg
    769 ~ 1024px : bg1.jpg
    1025px ~ : bg0.jpg
*/

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../images/img/bg0.jpg);
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  body {
    background-image: url(../images/img/bg1.jpg) no-repeat fixed;
    background-size: cover;
  }
}

@media screen and (max-width: 768px) {
  body {
    background-image: url(../images/img/bg2.jpg);
    background-size: cover;
  }
}

@media screen and (max-width: 320px) {
  body {
    background-image: url(../images/img/bg3.jpg);
    background-size: cover;
  }
}
