/* menus h2 
안쪽 여백 5px
font 2em
color white
*/
/* menu1 배경이미지 dish1 */

/* footer
글자크기 : 1.2em
color #eee
가운데 정렬 
높이 200px
*/
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* header h1 : font 3em, 가운데정렬 */
header h1 {
  font-size: 3em;
  text-align: center;
}

#menus h2 {
  padding: 5px;
  font-size: 2em;
  color: white;
  text-shadow: 3px 3px 5px black;
  position: absolute;
  right: 3%;
  bottom: 10px;
}
#menus > div {
  height: 400px;
  position: relative;
  /* display: flex; */
}
#menu1 {
  background: url(../images/img/dish1.jpg) no-repeat center;
  background-size: cover;
}
#menu2 {
  background: url(../images/img/dish2.jpg) no-repeat center;
  background-size: cover;
}
#menu3 {
  background: url(../images/img/dish3.jpg) no-repeat center;
  background-size: cover;
}
#menu4 {
  background: url(../images/img/dish4.jpg) no-repeat center;
  background-size: cover;
}
#menu5 {
  background: url(../images/img/dish5.jpg) no-repeat center;
  background-size: cover;
}

footer {
  background-color: black;
  height: 200px;
  text-align: center;
  font-size: 1.2em;
  color: #eee;
}
@media screen and (min-width: 768px) {
  #menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #menu1,
  #menu2,
  #menu3,
  #menu4 {
    width: 49%;
  }

  #menu5 {
    margin-left: 0;
    width: 100%;
    flex: initial;
  }
}

@media screen and (min-width: 992px) {
  #menu1,
  #menu2,
  #menu3,
  #menu4,
  #menu5 {
    width: 33%;
    margin-bottom: 0.5%;
  }
  #menu5 {
    flex: 2 2 0;
    margin-left: 0.5%;
  }
}
